<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Are you sure to delete {{ctrl.grocery_list.brand}} {{ctrl.grocery_list.name}} ?</h4>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
      <button type="submit" class="btn btn-danger" ng-click="ctrl.deleteEmployee()">Delete</button>
  </div>
</div>   