<div class="container">
    <form name="ctrl.groceryform" class="form-horizontal form-editGrocery">
        <div class="form-group">
            <label class="control-label col-sm-2" for="brand">Brand</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.grocery_list.brand" class="form-control" id="brand" name="brand" placeholder="Brand" required>
                <div class="validation" data-ng-show="ctrl.groceryform.brand.$touched || ctrl.groceryform.$submitted">
                    <div data-ng-show="ctrl.groceryform.brand.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Brand is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.grocery_list.name" class="form-control" id="name" name="name" placeholder="Name" required>
                <div class="validation" data-ng-show="ctrl.groceryform.name.$touched || ctrl.groceryform.$submitted">
                    <div data-ng-show="ctrl.groceryform.name.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Name is required
                    </div>
                </div>
            </div>    
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="upc12">UPC12 </label>
            <div class="col-sm-6" ng-app="UniqueUCP">
                <input type="number" ng-model="ctrl.grocery_list.upc12" class="form-control" id="upc12" name="upc12" placeholder="UPC12" required>
                <div class="validation" data-ng-show="ctrl.groceryform.upc12.$touched || ctrl.groceryform.$submitted">
                    <div data-ng-show="ctrl.groceryform.upc12.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> UPC12 is required
                    </div>
                    <div data-ng-show="ctrl.groceryform.upc12.$error.condition">
                        <span class="glyphicon glyphicon-alert"></span> UPC12 already exists
                    </div>
                </div>
            </div>    
        </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary" ng-disabled="ctrl.groceryform.$invalid" ng-click="ctrl.saveGrocery()">Save</button>
            </div>
        </div>
    
    </form>
</div>